
<section class="featued-bannar-2">
    <div class="container">
     <div class="row">
        {% for block in section.blocks %}
            <div class="col-md-4">
              <div class="featued-bannar-wrapper">
                <div class="featued-bannar-img">
                   <img src="{{ block.settings.img | img_url:'' }}" alt="">
                </div>
                <div class="featued-bannar-content">
                  <h2>{{ block.settings.h3 }}</h2>
                  <a href="{{ block.settings.btn_link }}" class="btn">{{block.settings.btn}}</a>
                </div>
             </div>
    
            </div>
         {% endfor %}
    
    
    
     </div>
     </div>
    
    
    </section>
    
    
    
    {% schema %}
        {
            "name": "Featued Bannar 02",
            "class": "bannar-02",
            "blocks": [
                {
                    "type": "bannar",
                    "name": "Featued Bannar",
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "img",
                            "label": "Bannar image"
                        },
                        {
                            "type": "text",
                            "id": "h3",
                            "label": " Bannar Title"
                        },
                        {
                            "type": "text",
                            "id": "btn",
                            "label": " Bannar Title"
                        },
                        {
                            "type": "url",
                            "id": "btn_link",
                            "label": " Bannar Button link"
                        }
                    ]
                }
            ],
            
            "presets": [
                {
                    "name": "Featued Bannar 02"
                }
            ]
        }
    {% endschema %}
    
    
    
    <style>
    
    
    .featued-bannar-2 img{
     width: 100%;
    }
    
   .featued-bannar-2 .featued-bannar-content {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        font-weight: bold;
        transform: translate(-50%, -50%);
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    .featued-bannar-2  .featued-bannar-wrapper {
        position: relative;
    }
    
    
    .featued-bannar-2  .featued-bannar-content a.btn {
        padding: 7px 31px;
        background: #AB080C;
        color: #fff;
        border:1px solid #AB080C;
    }
    .featued-bannar-2  .featued-bannar-content a.btn:hover {
        padding: 10px 31px;
        background: transparent;
        color: #000;
        
    }
    .featued-bannar-2  .featued-bannar-content h2{
        font-family: 'JMH Typewriter dry';
        font-style: normal;
        font-size: 139.542px;
        font-weight: 100;
        text-transform: uppercase;
    }
    </style>