


  <div class="contact-wrapper">
 <div class="container">
 <div class="row">
 <div class="col-md-6 offset-md-6">
  <div class="contact-inner-wrapper">
    <h2> {{ section.settings.h2 }} </h2>
    {% form 'contact' %}
        {{ form.errors | default_errors }}
      

      
        <div class="phone">
          <label for="phone">Phone</label>
          <input type="tel" name="contact[phone]" id="phone" />
        </div>
      
        <div class="email">
          <label for="email">Email</label>
          <input type="email" name="contact[email]" id="email" />
        </div>
      

      
        <div class="message">
          <label for="message">Message</label>
          <textarea name="contact[body]" id="message"></textarea>
        </div>
      
        <div class="submit">
          <input type="submit" value="Create" />
        </div>
    {% endform %}

 </div>
 </div>
</div>
</div>

 </div>

 {% schema %}
    {
        "name": "Contact from",
        "class": "c-contact",
        "settings": [
         {
            "type": "image_picker",
            "id": "img",
            "label": "Select your backgound Wrapper"
         },
         {
            "type": "text",
            "id": "h2",
            "label": "section title",
            "default": "Contact us"
         }
        ]
        ,
            
            "presets": [
                {
                    "name": "Home contact"
                }
            ]
    }
 {% endschema %}
 

 <style>

.contact-wrapper{
    background-image: url("{{ section.settings.img | img_url:'' }}");

}
</style>