<div class="container">
    <div class="row">
       <div class="col-md-12">

          <div class="header-image-wrappper">


           <div class="overly-fream">
           <img src="{{ section.settings.imageoverly | img_url:'master' }}" alt="">
            </div>



            <div class="video-wrapper">
            
                <video id="videoBG" poster="" playsinline autoplay muted loop>
                    <source type="video/mp4" src="{{ section.settings.video-url }}">
                  </video>

            </div>




         </div>
    
       </div>
    </div>
</div>

{% schema %}
    {
        "name": "Video and Image slide",
        "class": "videoandbannar",
        "settings": [
           {
            "type": "image_picker",
            "id": "imageoverly",
            "label": "Image Overly for video"
           },
           {
            "type": "text",
            "id": "video-url",
            "label": "Put your video link"
           }
        ],
        "presets": [
            {
              "name": "Video and Image slide"
            }
        ]
    }
{% endschema %}


<style>


    .overly-fream img {
        width: 100%;
    }
    .header-image-wrappper {
        position: relative;
    }
    video#videoBG {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        z-index: -1;
    }
</style>